<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">sysgear</a>
    </div>
    <div class="menu">
      <a href="/about">about</a>
      <a href="/products/new-arrivals">new arrivals</a>
      <a href="/products">all products</a>
      <div href="#" id="CartBtnRoot">cart
      </div>
    </div>
  </header>

    @!section('content')
  
  <div id="CartPopupRoot"></div>


  <script src="/js/dist/vendors.js"></script>
  <script src="/js/dist/CartBtn.js"></script>
  <script src="/js/dist/CartPopup.js"></script>
</body>
</html>
