@layout('layouts/main')

@section('title')
SYSGEAR | Footwork
@endsection

@section('content')
<section class="content-area home-page">
  <div class="top-section">
    <div class="product">
      <div class="circle">
        <img src="img/products/nike-foamposite-pro-black.png" alt="products">
      </div>
    </div>
    <div class="titles">
      <h3>nike</h3>
      <h1>air foamposite</h1>
    </div>
  </div>
</section>
@endsection
  